@model PruebaTecnicaGissa.Models.TestUser

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TestUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserPrimaryId" />
            <div class="form-group">
                <label asp-for="UserLastName" class="control-label"></label>
                <input asp-for="UserLastName" class="form-control" />
                <span asp-validation-for="UserLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserNickName" class="control-label"></label>
                <input asp-for="UserNickName" class="form-control" />
                <span asp-validation-for="UserNickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserUserType" class="control-label"></label>
                <input asp-for="UserUserType" class="form-control" />
                <span asp-validation-for="UserUserType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserTypeCed" class="control-label"></label>
                <input asp-for="UserTypeCed" class="form-control" />
                <span asp-validation-for="UserTypeCed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCed" class="control-label"></label>
                <input asp-for="UserCed" class="form-control" />
                <span asp-validation-for="UserCed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPass" class="control-label"></label>
                <input asp-for="UserPass" class="form-control" />
                <span asp-validation-for="UserPass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
